#count-container {
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
}
.count-button-container{
  display: flex;
  > div {
   flex-grow: 1;
  }
}
.count-button{
  @extend .hoverable;
  color: white;
  min-width:20vw;
  text-align: center;
}

.count-button.increase{
  background-color: red;
}

.count-button.decrease{
  background-color: blue;
}